h1, p {
  font-family: Lato;
}
button {

  width: 75px;
  height: 35px;
  border-radius: 13px;
  box-shadow: 2px 1px 7px #2D87CD;
  background-color: aquamarine;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color .8s;
}

button:hover{
  background-color: #E1C45F;
}

.contClick {
  background-color: #57ED77;
  width: 40px;
  height: 22px;
  text-align: center;
  margin-left: 15px;
}

.mostfecha{
  background-color: #3BA3F3;
  width: 160px;
  height: 25px;
  margin-left: 15px;
  padding: 5px;
}